<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category">
      </category>
      <wizard
            id="com.br_automation.buoat.xddeditor.XDD.custom.XDDCustomWizardID"
            name="%_UI_XDDModelWizard_label"
            class="com.br_automation.buoat.xddeditor.XDD.custom.CustomXDDWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/XDDModelFile.gif"
            project="false">
         <description>%_UI_XDDModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            class="com.br_automation.buoat.xddeditor.editor.editors.DeviceDescriptionFileEditor"
            default="true"
            extensions="xdd, xdc,XDD,XDC"
            icon="icons/full/obj16/XDDModelFile.gif"
            id="com.br_automation.buoat.xddeditor.editor.XDD"
            name="POWERLINK Device Description Editor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="com.br_automation.buoat.xddeditor.XDD.custom.XDDCustomWizardID">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.br_automation.buoat.xddeditor.XDD.custom.XDDCustomWizardID">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.br_automation.buoat.xddeditor.properties">
         <propertyCategory
               category="XDD Properties">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.br_automation.buoat.xddeditor.properties">
         <propertyTab
               afterTab="advanced_propertytab"
               category="XDD Properties"
               id="basic_propertytab"
               label="Basic">
         </propertyTab>
         <propertyTab
               category="XDD Properties"
               id="advanced_propertytab_featureFlags"
               label="Advanced">
         </propertyTab>
         <propertyTab
               category="XDD Properties"
               id="advanced_propertytab_MappingObjects"
               label="Advanced">
         </propertyTab>
         <propertyTab
               category="XDD Properties"
               id="advanced_propertytab_DeviceType"
               label="Advanced">
         </propertyTab>
         <propertyTab
               category="XDD Properties"
               id="advanced_propertytab_StoreParam"
               label="Advanced">
         </propertyTab>
         <propertyTab
               category="XDD Properties"
               id="advanced_propertytab_StartUp"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.br_automation.buoat.xddeditor.properties">
         <propertySection
               class="com.br_automation.buoat.xddeditor.XDD.custom.propertypages.BasicViewSection"
               id="basic_section"
               tab="basic_propertytab">
            <input
                  type="org.eclipse.emf.ecore.impl.EObjectImpl">
            </input>
            <input
                  type="org.eclipse.emf.edit.provider.FeatureMapEntryWrapperItemProvider">
            </input>
         </propertySection>
         <propertySection
               class="com.br_automation.buoat.xddeditor.XDD.custom.propertypages.AdvancedFeatureFlagsPropertySection"
               enablesFor="1"
               filter="com.br_automation.buoat.xddeditor.XDD.custom.propertypages.filters.Index1F82Filter"
               id="advanced_section_featureFlags"
               tab="advanced_propertytab_featureFlags">
            <input
                  type="com.br_automation.buoat.xddeditor.XDD.impl.TObjectImpl">
            </input>
         </propertySection>
         <propertySection
               class="com.br_automation.buoat.xddeditor.XDD.custom.propertypages.AdvancedMappingObjectPropertySection"
               enablesFor="1"
               filter="com.br_automation.buoat.xddeditor.XDD.custom.propertypages.filters.MappingSubobjectsFilter"
               id="advanced_section_MappingObjects"
               tab="advanced_propertytab_MappingObjects">
            <input
                  type="com.br_automation.buoat.xddeditor.XDD.impl.SubObjectTypeImpl">
            </input>
         </propertySection>
         <propertySection
               class="com.br_automation.buoat.xddeditor.XDD.custom.propertypages.AdvancedDeviceTypePropertySection"
               filter="com.br_automation.buoat.xddeditor.XDD.custom.propertypages.filters.Index1000Filter"
               id="advanced_section_DeviceType"
               tab="advanced_propertytab_DeviceType">
            <input
                  type="com.br_automation.buoat.xddeditor.XDD.impl.TObjectImpl">
            </input>
         </propertySection>
         <propertySection
               class="com.br_automation.buoat.xddeditor.XDD.custom.propertypages.AdvancedStoreParamPropertySection"
               filter="com.br_automation.buoat.xddeditor.XDD.custom.propertypages.filters.StoreParamSubobjectsFilter"
               id="advanced_section_StoreParam"
               tab="advanced_propertytab_StoreParam">
            <input
                  type="com.br_automation.buoat.xddeditor.XDD.impl.SubObjectTypeImpl">
            </input>
         </propertySection>
         <propertySection
               class="com.br_automation.buoat.xddeditor.XDD.custom.propertypages.AdvancedStartUpPropertySection"
               filter="com.br_automation.buoat.xddeditor.XDD.custom.propertypages.filters.Index1F80Filter"
               id="advanced_section_StartUp"
               tab="advanced_propertytab_StartUp">
            <input
                  type="com.br_automation.buoat.xddeditor.XDD.impl.TObjectImpl">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.br_automation.buoat.xddeditor.editor.viewerActionBinding">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.br_automation.buoat.xddeditor.editor.viewerContentBinding">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.br_automation.buoat.xddeditor.XDD.impl.TObjectImpl"
            class="com.br_automation.buoat.xddeditor.editor.adapters.ObjectAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.br_automation.buoat.xddeditor.XDD.SubObjectType"
            class="com.br_automation.buoat.xddeditor.editor.adapters.ObjectAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>



</plugin>
